body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	background: #fff url(../img/1.jpg) center center no-repeat;
	background-size: cover;
	transition: all 0.2s linear;
}
.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s linear;
}
.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s linear;
}
.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s linear;
}


.view {
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}
.view .mask,
.view .content {
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}


.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


/* */

.view-first:hover {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
  padding-top: 50px;
}

.view-first:hover a.info {
  transition-delay: 0.2s;
}



